html
{
	font-family: Arial;
	font-size: 1.5vw;
	background: #112;
	user-select: none;
}

body
{
	overscroll-behavior: none;
}

#c1,
#c2
{
	position: fixed;
	left: 0;
	top: 0;
}

#s1
{
	position: fixed;
	top: 0.5em;
	right: 0.5em;
	color: #fffa;
}

#s2
{
	position: fixed;
	bottom: -10vh;
	right: 20vw;
	left: 20vw;
	background: #fffc;
	color: #333;
	text-align: center;
	font-size: 1rem;
	padding: 0.2em;
	border-radius: 0.2em;
	transition: bottom 0.25s;
}
#s2.shown
{
	bottom: 4rem;
}

#s3
{
	position: fixed;
	left: 0.5rem;
	bottom: 0.5rem;
}

#debug
{
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	font-size: 1rem;
	height: 100px;
	background: #0008;
	color: #fff;
	z-index: 5001;
}

@font-face {
	font-family: 'twemoji';
	src: url('twemoji.ttf');
}

#overlay
{
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
}

#win
{
	margin: 20vh auto;
	width: 30em;
	max-width: 90vw;
	padding: 1em;
	background: #fffa;
	border-radius: 2em;
	text-align: center;
}

button
{
	font-size: 1.2em;
	border: none;
	padding: 0.5em 1em;
	background: #456;
	border-radius: 0.5em;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

button:hover
{
	background: #567;
}

#r1
{
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	font-family: 'twemoji';
	font-size: 10rem;
	animation: r1 4s infinite;
	opacity: 0;
}
@media (max-aspect-ratio: 1/1)
{
	@keyframes r1
	{
		0% { opacity: 0; transform: rotate(0deg); }
		10% { opacity: 1; transform: rotate(0deg); }
		35% { opacity: 1; transform: rotate(-90deg); }
		45% { opacity: 0;  transform: rotate(-90deg); }
		50% { opacity: 0; transform: rotate(0deg); }
		60% { opacity: 1; transform: rotate(0deg); }
		85% { opacity: 1; transform: rotate(90deg); }
		95% { opacity: 0;  transform: rotate(90deg); }
	}
}

.d
{
	float: left;
	width: 25%;
}

.clearer
{
	clear: both;
	float: none;
}

#tip
{
	position: fixed;
	top: 10vh;
	left: 10vw;
	right: 10vw;
	padding: 0.5em;
	background: #fffa;
	border-radius: 2em;
	text-align: center;
	display: none;
}
#tiptext
{
	margin: 0.5em;
}

#tip.ok
{
	background: #0000;
	color: #fff8;
}
#tip.ok button
{
	display: none;
}

#intro
{
	background: #112f;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: background 3s;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}
#intro.loaded
{
	background: #112a;
}

#intro div
{
	width: 80vw;
	margin: 10vh auto;
	color: #fff;
}

.pop
{
	position: fixed;
	color: #fff;
	text-shadow: 0.05em 0.05em 0.2em #000;
	font-weight: bold;
	font-size: 1.5rem;
	animation: r2 2s forwards;
}
.popr
{
	animation: r3 2s forwards;
}
.popt
{
	font-family: twemoji;
	font-size: 2em;
}
@keyframes r2
{
	0% { opacity: 0; margin-top: 0; }
	3% { opacity: 1; }
	80% { opacity: 1; }
	100% { opacity: 0; margin-top: -1em; }
}
@keyframes r3
{
	0% { opacity: 0; margin-top: 0; }
	3% { opacity: 1; }
	80% { opacity: 1; }
	100% { opacity: 0; margin-top: 1em; }
}

#dog
{
	font-family: twemoji;
	font-size: 10rem;
	position: fixed;
	right: -0.5em;
	bottom: -0.8em;
	transition: bottom 0.5s;
	cursor: pointer;
	display: none;
}

#dog:hover
{
	bottom: -0.5em;
}
