html
{
	font-family: Arial;
	font-size: 1.5vw;
	background: #112;
	user-select: none;
}

body
{
	overscroll-behavior: none;
}

#c1
{
	position: fixed;
	left: 0;
	top: 0;
}

#s1
{
	position: fixed;
	top: 0.5em;
	right: 0.5em;
	color: #fffa;
}

#s2
{
	position: fixed;
	bottom: -10vh;
	right: 20vw;
	left: 20vw;
	background: #fffc;
	color: #333;
	text-align: center;
	font-size: 1rem;
	padding: 0.2em;
	border-radius: 0.2em;
	transition: bottom 0.25s;
}
#s2.shown
{
	bottom: 5vh;
}

#debug
{
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	font-size: 1rem;
	height: 100px;
	background: #0008;
	color: #fff;
	z-index: 5001;
}

@font-face {
	font-family: 'twemoji';
	src: url('twemoji.ttf');
}

#overlay
{
	backdrop-filter: blur(10px);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
}

#win
{
	margin: 20vh auto;
	width: 30em;
	max-width: 90vw;
	padding: 1em;
	background: #fffa;
	border-radius: 2em;
	text-align: center;
}

button
{
	font-size: 1.2em;
	border: none;
	padding: 0.5em 1em;
	background: #456;
	border-radius: 0.5em;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

button:hover
{
	background: #567;
}

#next
{
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}

#r1
{
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	font-family: 'twemoji';
	font-size: 10rem;
	animation: r1 2s infinite;
	opacity: 0;
}
@media (max-aspect-ratio: 1/1)
{
	@keyframes r1
	{
		0% { opacity: 0; transform: rotate(0deg); }
		20% { opacity: 1; transform: rotate(0deg); }
		70% { opacity: 1; transform: rotate(-90deg); }
		90% { opacity: 0;  transform: rotate(-90deg); }
	}
}
